// @font-face {
//   font-family: "Nunito Sans";
//   src: url("../../assets/fonts/NunitoSans_10pt-Regular.ttf");
//   font-style: normal;
//   font-weight: normal;
// }

body {
  font-family: Nunito Sans;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}